# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
*.env

# Virtual environment
venv/
.venv/

# Data files
*.xlsx
*.csv

# Secrets
secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
